![](https://i.imgur.com/gDZUEw8.png)

# Reservoir Quality in Producing Sandstones

## A Case Study on Offshore Gulf of Mexico

***By: Ramy Abdallah***

![Sandstone Outcrops](https://i.imgur.com/AvAAH2N.jpg)

## Introduction

### Executive Summary:
This project will explore, analyse and visualise publicly available wells datasets from the United States offshore data centre, the USGS boreholes website - Bureau of Safety and Environmental Enforcement (BSEE) https://www.data.bsee.gov/Main/Default.aspx with a particular focus on the Gulf of Mexico (GOM) wells. This project will study sandstones quality as a reservoir, the production history of the operators on the Gulf of Mexico and a well summary report to highlight any possible problem. The reservoir quality analysis will examine relationships between average values of porosity, permeability, depth, temperature, pressure, thickness, age, and play type for data files from 2009 until 2019.The porosity plotted and shown in a wide range of plots as a function of permeability and burial depth. Also, the median (P50) porosity will be plotted against depth to examine the porosity trend. Moreover, this project will investigate the companies oil and gas production in the gulf of Mexico for the last five years. Lastly, the analysis will include an investigation of well summary reports of five wells. The project will include web scrapping to collect online well summary reports to generate a word cloud. The project results can be useful for specifying realistic distributions of parameters for both exploration risk evaluation and/or reservoir modelling by machine learning algorithms in the next project.

### Dataset websites:

## [USGS](https://www.usgs.gov/science-explorer-results?es=3D+Seismic+data&classification=data)
USGS is the sole science agency for the Department of the Interior. It is sought out by thousands of partners and customers for its natural science expertise and its vast earth and biological data holdings. As the Nation's largest water, earth, and biological science and civilian mapping agency, USGS collects, monitors, analyzes, and provides science about natural resource conditions, issues, and problems. For more inof refer to the link:https://www.usgs.gov/

## [BSEE Data Center:](https://www.data.bsee.gov/Main/Default.aspx)

Bureau of Safety and Environmental Enforcement ([BSEE](https://www.bsee.gov/)) - Regulating the Offshore Energy Industry by Promoting Safety, Protecting the Environment and Conserving Resources. 

BSEE data Center where users can access public information and data pertaining to the appropriate subject matter. Data are available via online queries, as well as downloadable PDF reports, ASCII files, and scanned documents available in PDF format. Some files are available for purchase on CD/DVD/Blu-Ray media. Information may be cross referenced among different subjects. The data can be available here https://www.data.bsee.gov/Main/Default.aspx.

### Datasets:
The datasets consist of three main parts:

**1.	Sandstone reservoir quality data; and is available on the BSEE website as excel files. However, it has been converted to CSV files. This data contain 11 CSV file each file has about 10,000 sandstone reservoirs data shows as rows in the CSV file, mostly porosity, permeability, depth, temperature, pressure, thickness, age and play.**

![Example of dataset](https://i.imgur.com/Ukak6fl.jpg)

**2.	Play type, age and description as spearte 11 CSV files from 2009 to 2019.**

![](https://i.imgur.com/oVyFSY6.jpg)

**3.	Chrono zones as age data for each play as 11 CSV files from 2009 to 2019.**

![](https://i.imgur.com/4zZRBww.jpg)

**4.	Oil and Gas production data for the last five years for all the companies that operate on GOM as PDF files. These files have been converted to excel files and later to CSV files.**

![](https://i.imgur.com/TqZlYij.png)

**5.	E-Well summary reports.**

![](https://i.imgur.com/r6NUr1d.png)

## Project Aims:

This study aims to analyse, visualise, and explore the data to get intuitive insights into the dataset, which leads to better understanding, reducing the associated risk and eventually making more money. These aims can be achieved by answering the following questions:

>1. Can we generally explore the dataset.
>2. Can we analyse the dataset.
>3. What is the total thickness of sandstone and total area of hydrocarbons reservoir in the Gulf of Mexico?
?4. What is the average porosity of sandstone and average permeability of hydrocarbons reservoir in the Gulf of Mexico?
>5. Do we have any outliers on the hydrocarbons reservoir sandstones dataset in the Gulf of Mexico?
>6. What is the most frequent values of hydrocarbons sandstone reservoir in the Gulf of Mexico?
>7. What is the Total stock tank oil initially in place and total gas in place in the Gulf of Mexico?
>8. Can we group and explore our porosity and permeability with chronozones in the Gulf of Mexico?
>9. Can we visualise the porosity as an essential parameter of our reservoir in the Gulf of Mexico and better understand the dataset?
>10. What is the reason for the low porosity regions in the sandstone of the Gulf of Mexico?
>11. Can we visualise the relation between the porosity and the permeability as an essential parameter of our reservoir in the Gulf of Mexico?
>12. Can we visualise the relation between the water saturation and permeability as an essential parameter of our reservoir in the Gulf of Mexico?
>13. What is the distribution between the sandstone parameters in the reservoir dataset, and how we can compare this with the mean, sum and maximum?
>14. Can we study the sandstones parameters in our reservoir dataset through the years? 
>15. Can we calculate the percentage of oil and gas columns in each play type and chronozones?
>16. Can we study the well summary reports to get important information quickly?
>17. Can we built a bar chart race for Gulf of Mexico Operators Oil Production?

## Project Generalised Workflow:

>1. **Select Gulf of Mexico dataset**
>2. **Perform data preparation & cleaning**
>3. **Perform exploratory analysis & visualization**
>4. **Ask & answer questions about the data**
>5. **Summarize inferences & write a conclusion**

## Project Methodology:

1.	The project's first step is to select a dataset from the USGS Science Explorer  - BSEE data centre. The data can be available here https://www.data.bsee.gov/Main/Default.aspx.


2.	Second, we got three primary datasets, the first one about the sandstone reservoir parameters, the second the production data and finally, the well summary reports.


3.	Third, perform data pre-processing by converting all the files to CSV files.


4.	Later, we install all the needed libraries and import the libraries. 


5.	Then we use the Pandas library to convert our files to a data frame.


6.	The data frames contain multiple columns and rows where we merge, concatenate and clean our datasets. Then, we perform data analysis and exploration to see if all the data are there and there is no duplication. 


7.	Later we get information from the data frame using `describe`, `sum` and `mean` methods. Also, we have investigated the outliers in the dataset using box and whiskers plots. Moreover, we have drawn a trendline on the scatter plots to study the relationships between different parameters in our dataset.


8.	For the data exploration and visualisation, we mainly used `plotly` express to visualise all the data by creating a map, scatter and bar plots.


9.	Also, we have created new columns and rows as new data frame to get further insights by plotting pie charts, bar plots and heat map. Moreover, we look at the distribution of the datasets to see if the distribution is Gaussian or exponential.


10.	Later, we used the well summary reports to study the dataset and plot word cloud for a further and quick understanding of the reports. 


11.	Worldclud has been used to discriminate between the abundant, active, dry, oil, gas, salt, operation problems and wild cat wells.  


12.	We have created several functions to plot the location of the wells, clean and collect the data and plot cloud words.


13.	Another deep investigation using the production dataset was implemented to understand better and get insights from the datasets using the race plot. 


14.	The race plot was utilised to compare the operators' oil and gas production in the Gulf of Mexico.


15.	Finally, we draw conclusions, insights and documented our results.

### Runing the code:
You can execute the code using the "Run" button at the top of this page. You can make changes and save your own version of the naotebook to [Jovian](https://www.jovian,ai) by executing the folowing cells. Then Run-on Binder, or Colab (Google's cloud infrastructure), or Run-on Kaggle.

In [1]:
!pip install jovian --upgrade --quiet

In [2]:
import jovian

In [ ]:
# Execute this to save new versions of the notebook
jovian.commit(filename="exploratory-data-analysis-project")

### Install and Import all the needed libraries:

The first step is to install and import all the needed libraries need for the project.

In [4]:
import plotly.graph_objects as go
import plotly.express as px
from IPython.display import HTML, IFrame 
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.ticker as ticker
import matplotlib.animation as animation
from IPython.display import HTML
import seaborn as sns
import numpy as np
import warnings
import requests
from bs4 import BeautifulSoup
import re
from wordcloud import WordCloud
import glob
import re
import csv

In [5]:
# Configuring styles
sns.set_style("darkgrid")
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

## 1. Datasets

### Data preparation

This step is concerned with transforming the raw data available in the data centre into a form of CSV files used in the analysis. For example, the sandstones reservoir data downloaded as an excel file and then converted to CSV files. Also, the production data available as pdf files and later was changed to CSV files. Moreover, the well summary reports available as online files, which can be downloaded as CSV files.

### Data Loading

To read the file, we can use the `read_csv` method from Pandas. First, let's install the Pandas library.

To install the library inside the notbook use `pip` and then `import` to import it as pd for short.

In [6]:
!pip install pandas --upgrade --quiet
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

We can now import the `pandas` module. As a convention, it is imported with the alias `pd`.

In [7]:
import pandas as pd

In [8]:
reservoir_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\sandstones-data\2019 Atlas Update.csv')

In [9]:
type(reservoir_df)

pandas.core.frame.DataFrame

In [10]:
reservoir_df['SAND_NAME'].head(5)

0    1761_BA001A_6500_1M
1    1761_BA001A_6500_2M
2    1761_BA001A_6500_3M
3    1761_BA001A_6500_5M
4    1761_BA001A_6500_6M
Name: SAND_NAME, dtype: object

In [11]:
reservoir_df.loc[0, :][0]

2

In [12]:
reservoir_df

,SN_FORMSAND,SAND_NAME,ASSESSED,SDDATE,SDYEAR,SDDATEH,SDYEARH,WELLAPI,BOEM_FIELD,FCLASS,...,GRECO,GRECG,GRP,NCNT,UCNT,SCNT,TCNT,BHCOMP,LAT,LONG
0,2,1761_BA001A_6500_1M,Y,09/02/70,1970,09/02/70,1970,427043003600,BA001A,PDN,...,"347,911","21,585,148",62.04,1,0,0,1,3.0,28.344173,-95.304180
1,3,1761_BA001A_6500_2M,Y,09/02/70,1970,09/02/70,1970,427043003600,BA001A,PDN,...,"6,605","500,530",75.78,1,0,0,1,1.0,28.344173,-95.304180
2,4,1761_BA001A_6500_3M,Y,09/02/70,1970,09/02/70,1970,427043003600,BA001A,PDN,...,"52,501","2,985,295",56.86,1,0,0,1,1.0,28.344173,-95.304180
3,5,1761_BA001A_6500_5M,Y,04/04/73,1973,04/04/73,1973,427044000900,BA001A,PDN,...,"56,451","2,842,043",50.35,1,0,0,1,1.0,28.348074,-95.300825
4,6,1761_BA001A_6500_6M,Y,09/02/70,1970,09/02/70,1970,427043003600,BA001A,PDN,...,"57,159","3,741,506",65.46,1,0,0,1,1.0,28.344173,-95.304180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13389,422029,2461_TS000_ROB_L7.6,Y,02/07/08,2008,02/07/08,2008,177074088900,TS000,PDP,...,"111,627","9,615,317",86.14,1,0,0,1,1.0,29.487289,-92.053398
13390,422031,0561_SS169_A02,Y,03/05/06,2006,03/05/06,2006,177114138201,SS169,PDP,...,200,"240,881","1,204.41",1,0,0,1,1.0,28.633058,-90.975062
13391,422033,9991_AC857_FR20,Y,06/04/18,2018,06/04/18,2018,608054008200,AC857,PDP,...,0,0,0.00,0,1,0,1,1.0,26.099842,-94.888536
13392,422034,1361_SS015_14100,Y,09/11/93,1993,09/11/93,1993,177114110903,SS015,PDP,...,"19,927","99,636",5.00,1,0,0,1,1.0,29.133621,-91.114773
13393,422035,1361_SS015_14200,Y,09/11/93,1993,09/11/93,1993,177114110903,SS015,PDP,...,"33,130","165,648",5.00,1,0,0,1,NaN,29.133621,-91.114773

### Information about the dataset

We can view some basic information about the data frame using the .info method.

In [13]:
reservoir_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13394 entries, 0 to 13393
Data columns (total 81 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SN_FORMSAND   13394 non-null  int64
 1   SAND_NAME     13394 non-null  object
 2   ASSESSED      13394 non-null  object
 3   SDDATE        13394 non-null  object
 4   SDYEAR        13394 non-null  int64
 5   SDDATEH       13394 non-null  object
 6   SDYEARH       13394 non-null  int64
 7   WELLAPI       13394 non-null  int64
 8   BOEM_FIELD    13394 non-null  object
 9   FCLASS        13394 non-null  object
 10  FSTAT         13394 non-null  object
 11  FSTRUC        13392 non-null  object
 12  FTRAP1        12762 non-null  object
 13  FTRAP2        4433 non-null   object
 14  FDDATE        13394 non-null  object
 15  FDYEAR        13394 non-null  int64
 16  EIAID         13389 non-null  float64
 17  PLAREA        13394 non-null  object
 18  SAND          13393 non-null  object
 19  PLAY_NUM      13394 non-null  int64
 20  PLAY_NAME     13394 non-null  object
 21  POOL_NAME     13394 non-null  object
 22  CHRONOZONE    13394 non-null  object
 23  PLAY_TYPE     13394 non-null  object
 24  SD_TYPE       13030 non-null  object
 25  WDEP          13394 non-null  int64
 26  Original Oil  13394 non-null  object
 27  Original Gas  13394 non-null  object
 28  Original BOE  13394 non-null  object
 29  Cum Oil       13394 non-null  object
 30  Cum Gas       13394 non-null  object
 31  Cum BOE       13394 non-null  object
 32  Oil Reserves  13394 non-null  object
 33  Gas Reserves  13394 non-null  object
 34  BOE Reserves  13394 non-null  object
 35  SS            13394 non-null  object
 36  THK           13394 non-null  float64
 37  TAREA         13394 non-null  object
 38  TVOL          13394 non-null  object
 39  OTHK          13394 non-null  float64
 40  OAREA         13394 non-null  int64
 41  OVOL          13394 non-null  int64
 42  GTHK          13394 non-null  float64
 43  GAREA         13394 non-null  object
 44  GVOL          13394 non-null  object
 45  DRIVE         13394 non-null  object
 46  RESTYP        13394 non-null  object
 47  POROSITY      13394 non-null  float64
 48  SW            13394 non-null  float64
 49  PERMEABILITY  13302 non-null  float64
 50  Pi            13394 non-null  object
 51  TI            13394 non-null  int64
 52  SDPG          13393 non-null  float64
 53  SDTG          13393 non-null  float64
 54  RSI           13394 non-null  int64
 55  YIELD         13394 non-null  float64
 56  PROP          13394 non-null  float64
 57  GOR           12468 non-null  float64
 58  SPGR          13394 non-null  float64
 59  API           13394 non-null  float64
 60  BGI           13394 non-null  int64
 61  BOI           13394 non-null  float64
 62  RECO_AF       13394 non-null  float64
 63  RECG_AF       13394 non-null  object
 64  OIP           13394 non-null  object
 65  GIP           13394 non-null  object
 66  ORF           13394 non-null  float64
 67  ORECO         13394 non-null  int64
 68  ORECG         13394 non-null  int64
 69  ORP           13394 non-null  float64
 70  GRF           13394 non-null  float64
 71  GRECO         13394 non-null  object
 72  GRECG         13394 non-null  object
 73  GRP           13394 non-null  object
 74  NCNT          13394 non-null  int64
 75  UCNT          13394 non-null  int64
 76  SCNT          13394 non-null  int64
 77  TCNT          13394 non-null  int64
 78  BHCOMP        12847 non-null  float64
 79  LAT           13394 non-null  float64
 80  LONG          13394 non-null  float64
dtypes: float64(22), int64(18), object(41)
memory usage: 8.3+ MB

We can view some number of columns of the data frame using the .columns method.

In [14]:
reservoir_df.columns

Index(['SN_FORMSAND', 'SAND_NAME', 'ASSESSED', 'SDDATE', 'SDYEAR', 'SDDATEH',
       'SDYEARH', 'WELLAPI', 'BOEM_FIELD', 'FCLASS', 'FSTAT', 'FSTRUC',
       'FTRAP1', 'FTRAP2', 'FDDATE', 'FDYEAR', 'EIAID', 'PLAREA', 'SAND',
       'PLAY_NUM', 'PLAY_NAME', 'POOL_NAME', 'CHRONOZONE', 'PLAY_TYPE',
       'SD_TYPE', 'WDEP', 'Original Oil', 'Original Gas', 'Original BOE',
       'Cum Oil', 'Cum Gas', 'Cum BOE', 'Oil Reserves', 'Gas Reserves',
       'BOE Reserves', 'SS', 'THK', 'TAREA', 'TVOL', 'OTHK', 'OAREA', 'OVOL',
       'GTHK', 'GAREA', 'GVOL', 'DRIVE', 'RESTYP', 'POROSITY', 'SW',
       'PERMEABILITY', 'Pi', 'TI', 'SDPG', 'SDTG', 'RSI', 'YIELD', 'PROP',
       'GOR', 'SPGR', 'API', 'BGI', 'BOI', 'RECO_AF', 'RECG_AF', 'OIP', 'GIP',
       'ORF', 'ORECO', 'ORECG', 'ORP', 'GRF', 'GRECO', 'GRECG', 'GRP', 'NCNT',
       'UCNT', 'SCNT', 'TCNT', 'BHCOMP', 'LAT', 'LONG'],
      dtype='object')

### Explore the dataset

we can explore the number of rows & columns using the `.shape` method.

In [15]:
reservoir_df.shape

(13394, 81)

Moreover we can explore the values of columns using `.values` methods which give us idea about the values which numerical and categories.

In [16]:
reservoir_df.values[10]

array([16, '9971_BA007A_BIGHUM2', 'Y', '07/27/81', 1981, '07/27/81', 1981,
       427044005500, 'BA007A', 'PDN', 'E', 'K', 'C', nan, '07/03/69',
       1969, 805007.0, 'WGM', 'BIGHUM2', 9971, 'MUM-MMM_S1',
       '9971_BA007A', 'MUM-MMM', 'S1', 'G', 122, '1,462', '790,100',
       '142,049', '1,462', '790,100', '142,049', '0', '0', '0', '12,267',
       19.52, '114', '2,225', 0.0, 0, 0, 19.52, '114', '2,225', 'WTR',
       'N', 0.22, 0.45, 17.0, '9,927', 236, 0.808, 1.353, 0, 1.9, 0.0,
       540.424, 0.62, 0.0, 365, 0.0, 0.0, '355.101', '0', '4,275,825',
       0.0, 0, 0, 0.0, 0.18, '1,462', '790,100', '540.42', 1, 0, 0, 1,
       1.0, 28.2584428, -95.471808], dtype=object)

After this step, let us merge our datasets and explore and analyse the data further.

### 1. Reservoir Dataset

Here we have created one dataset from the three datasets.

### Data reading

### a. Sand Stone datasets

Let us now merge the sandstone data for the last ten years and add the age, creating additional columns and operators data frames.

In [17]:
reservoir_19_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\sandstones-data\2019 Atlas Update.csv')
reservoir_18_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\sandstones-data\2018 Atlas Update.csv')
reservoir_17_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\sandstones-data\2017 Atlas Update.csv')

### b. Chrono zones - (Age) datasets

Let us read all the chrono zones (age) data.

In [18]:
chronozone_19_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\chronozones-data\2019 Atlas Update.csv')
chronozone_18_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\chronozones-data\2018 Atlas Update.csv')
chronozone_17_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\chronozones-data\2017 Atlas Update.csv')

### c. Play Dataset

Later we have added the play dataset, which contained the play name and description.

In [19]:
play_19_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\play-data\2019 Atlas Update.csv')
play_18_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\play-data\2018 Atlas Update.csv')
play_17_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\play-data\2017 Atlas Update.csv')

### Data Merge

In order to merge the datasets, we need to create a common name between the two data frames. For that reason, we are creating a similar name between the two data frames.

In [20]:
chronozone_19_df.rename(columns={'BOEM_CHRONOZONE' : 'CHRONOZONE'}, inplace=True)
chronozone_18_df.rename(columns={'BOEM_CHRONOZONE' : 'CHRONOZONE'}, inplace=True)
chronozone_17_df.rename(columns={'BOEM_CHRONOZONE' : 'CHRONOZONE'}, inplace=True)

Later we have merged the three data frames on the name `CHRONOZONE` using left merge.

In [21]:
reservoir_19_zones_df = pd.merge(reservoir_19_df, chronozone_19_df, on='CHRONOZONE', how='left')
reservoir_18_zones_df = pd.merge(reservoir_18_df, chronozone_18_df, on='CHRONOZONE', how='left')
reservoir_17_zones_df = pd.merge(reservoir_17_df, chronozone_17_df, on='CHRONOZONE', how='left')

Here we have created a common name between the datasets using a similar approach above.

In [22]:
reservoir_19_zones_df['PLAY'] = reservoir_19_zones_df['CHRONOZONE'] + '_' + reservoir_19_zones_df['PLAY_TYPE']
reservoir_18_zones_df['PLAY'] = reservoir_18_zones_df['CHRONOZONE'] + '_' + reservoir_18_zones_df['PLAY_TYPE']
reservoir_17_zones_df['PLAY'] = reservoir_17_zones_df['CHRONOZONE'] + '_' + reservoir_17_zones_df['PLAY_TYPE']

Here we have merged the data frames on the column name `PLAY` using left merge.

In [23]:
reservoir_19_play_zones_df = pd.merge(reservoir_19_zones_df, play_19_df, on='PLAY', how='left')
reservoir_18_play_zones_df = pd.merge(reservoir_18_zones_df, play_18_df, on='PLAY', how='left')
reservoir_17_play_zones_df = pd.merge(reservoir_17_zones_df, play_17_df, on='PLAY', how='left')

Let us create a commonly selected columns on all the data frames to ensure that everything is going well.

In [24]:
selected_columns = ['SN_FORMSAND', 'SAND_NAME', 'ASSESSED', 'SDDATE', 'SDYEAR', 'SDDATEH',
       'SDYEARH', 'WELLAPI', 'BOEM_FIELD', 'FCLASS', 'FSTAT', 'FSTRUC',
       'FTRAP1', 'FTRAP2', 'FDDATE', 'FDYEAR', 'EIAID', 'PLAREA', 'SAND',
       'PLAY_NUM', 'PLAY_NAME', 'POOL_NAME', 'CHRONOZONE_x', 'PLAY_TYPE_x',
       'SD_TYPE', 'WDEP', 'Original Oil', 'Original Gas', 'Original BOE',
       'Cum Oil', 'Cum Gas', 'Cum BOE', 'Oil Reserves', 'Gas Reserves',
       'BOE Reserves', 'SS', 'THK', 'TAREA', 'TVOL', 'OTHK', 'OAREA', 'OVOL',
       'GTHK', 'GAREA', 'GVOL', 'DRIVE', 'RESTYP', 'POROSITY', 'SW',
       'PERMEABILITY', 'Pi', 'TI', 'SDPG', 'SDTG', 'RSI', 'YIELD', 'PROP',
       'GOR', 'SPGR', 'API', 'BGI', 'BOI', 'RECO_AF', 'RECG_AF', 'OIP', 'GIP',
       'ORF', 'ORECO', 'ORECG', 'ORP', 'GRF', 'GRECO', 'GRECG', 'GRP', 'NCNT',
       'UCNT', 'SCNT', 'TCNT', 'BHCOMP', 'LAT', 'LONG',
       'CHRONOZONE_DESCRIPTION', 'PLAY', 'CHRONOZONE_y', 'PLAY_TYPE_y',
       'PLAY_NUMBER', 'PLAY_NAME_DESCRIPTION']

Here we are selecting all the rows and just the selected columns for our further studies.

In [25]:
reservoir_19_sdst_df = reservoir_19_play_zones_df.loc[:, selected_columns]
reservoir_18_sdst_df = reservoir_18_play_zones_df.loc[:, selected_columns]
reservoir_17_sdst_df = reservoir_17_play_zones_df.loc[:, selected_columns]

Now let us apply sanity checks by checking the columns and rows to ensure everything is going well.

In [26]:
reservoir_19_sdst_df.shape

(13394, 87)

In [27]:
reservoir_18_sdst_df.shape

(13380, 87)

In [28]:
reservoir_17_sdst_df.shape

(13356, 87)

Let us add all the data from the three years together, 2019, 2018 and 2017, to generate our final data frame.

In [29]:
frame = [reservoir_19_sdst_df, reservoir_18_sdst_df, reservoir_17_sdst_df]

In [30]:
reservoir_sdst_df = pd.concat(frame)

In [31]:
reservoir_sdst_df.shape

(40130, 87)

Now after merging and concatenating all the data frames, we have just above **40,000** rows and **87** columns in our final reservoir data frame.

### Reservoir Dataset Cleaning

We can convert argument to a numeric type by using `to_numeric` method.
When selecting the parameters `errors{â€˜coerceâ€™}`, invalid parsing will be set as NaN.

In [32]:
reservoir_sdst_df['Original Oil'] = pd.to_numeric(reservoir_sdst_df['Original Oil'], errors='coerce')
reservoir_sdst_df['Original Gas'] = pd.to_numeric(reservoir_sdst_df['Original Gas'], errors='coerce')
reservoir_sdst_df['Original BOE'] = pd.to_numeric(reservoir_sdst_df['Original BOE'], errors='coerce')
reservoir_sdst_df['BHCOMP'] = pd.to_numeric(reservoir_sdst_df['BHCOMP'], errors = 'coerce')
reservoir_sdst_df['PERMEABILITY'] = pd.to_numeric(reservoir_sdst_df['PERMEABILITY'], errors = 'coerce')
reservoir_sdst_df['TVOL'] = pd.to_numeric(reservoir_sdst_df['TVOL'], errors = 'coerce')
reservoir_sdst_df['TAREA'] = pd.to_numeric(reservoir_sdst_df['TAREA'], errors = 'coerce')
reservoir_sdst_df['SS'] = pd.to_numeric(reservoir_sdst_df['SS'], errors = 'coerce')

In [33]:
reservoir_sdst_df['BHCOMP']

0        3.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
13351    1.0
13352    1.0
13353    1.0
13354    1.0
13355    1.0
Name: BHCOMP, Length: 40130, dtype: float64

In [34]:
reservoir_sdst_df

,SN_FORMSAND,SAND_NAME,ASSESSED,SDDATE,SDYEAR,SDDATEH,SDYEARH,WELLAPI,BOEM_FIELD,FCLASS,...,TCNT,BHCOMP,LAT,LONG,CHRONOZONE_DESCRIPTION,PLAY,CHRONOZONE_y,PLAY_TYPE_y,PLAY_NUMBER,PLAY_NAME_DESCRIPTION
0,2,1761_BA001A_6500_1M,Y,09/02/70,1970,09/02/70,1970,427043003600,BA001A,PDN,...,1,3.0,28.344173,-95.304180,Lower Upper Miocene,MLU_P1,MLU,P1,1761,Lower Upper Miocene Progradational Play
1,3,1761_BA001A_6500_2M,Y,09/02/70,1970,09/02/70,1970,427043003600,BA001A,PDN,...,1,1.0,28.344173,-95.304180,Lower Upper Miocene,MLU_P1,MLU,P1,1761,Lower Upper Miocene Progradational Play
2,4,1761_BA001A_6500_3M,Y,09/02/70,1970,09/02/70,1970,427043003600,BA001A,PDN,...,1,1.0,28.344173,-95.304180,Lower Upper Miocene,MLU_P1,MLU,P1,1761,Lower Upper Miocene Progradational Play
3,5,1761_BA001A_6500_5M,Y,04/04/73,1973,04/04/73,1973,427044000900,BA001A,PDN,...,1,1.0,28.348074,-95.300825,Lower Upper Miocene,MLU_P1,MLU,P1,1761,Lower Upper Miocene Progradational Play
4,6,1761_BA001A_6500_6M,Y,09/02/70,1970,09/02/70,1970,427043003600,BA001A,PDN,...,1,1.0,28.344173,-95.304180,Lower Upper Miocene,MLU_P1,MLU,P1,1761,Lower Upper Miocene Progradational Play
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,421846,0961_EI231_9400,Y,09/24/13,2013,09/24/13,2013,177094124902,EI231,PDP,...,1,1.0,28.597450,-91.454580,Upper Pliocene,PU_P1,PU,P1,961,Upper Pliocene Progradational Play
13352,421847,0961_WC480_M_2L,Y,02/24/09,2009,02/24/09,2009,177024183500,WC480,PDN,...,1,1.0,28.517770,-93.151040,Upper Pliocene,PU_P1,PU,P1,961,Upper Pliocene Progradational Play
13353,421848,1941_WC066_GN,Y,09/22/93,1993,09/22/93,1993,177004087900,WC066,PDP,...,1,1.0,29.621330,-93.124000,Upper Middle Miocene,MUM_A1,MUM,A1,1941,Upper Middle Miocene Aggradational Play
13354,421852,0561_SS246_03200,Y,01/14/03,2003,01/14/03,2003,177124023201,SS246,PDP,...,1,1.0,28.404800,-91.301130,Lower Pleistocene,PLL_P1,PLL,P1,561,Lower Pleistocene Progradational Play
13355,421853,1782_EW873_MIO_G,Y,09/30/05,2005,09/30/05,2005,177164032901,EW873,PDP,...,1,1.0,28.158350,-90.214000,Lower Upper Miocene,MLU_F2,MLU,F2,1782,Lower Upper Miocene Fan 2 Play

Here we have checked for Nan values, and we can see that our data do not have any Nan values.

In [35]:
reservoir_sdst_df.isna().sum()

SN_FORMSAND              0
SAND_NAME                0
ASSESSED                 0
SDDATE                   0
SDYEAR                   0
                        ..
PLAY                     0
CHRONOZONE_y             0
PLAY_TYPE_y              0
PLAY_NUMBER              0
PLAY_NAME_DESCRIPTION    0
Length: 87, dtype: int64

### 2. Operator Dataset

Then we have added the operator dataset, which contained the blocks names, area and operators description.

In [36]:
operator_19_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2019 Atlas Update.csv')
operator_18_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2018 Atlas Update.csv')
operator_17_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2017 Atlas Update.csv')
operator_16_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2016 Atlas Update.csv')
operator_15_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2015 Atlas Update.csv')
operator_14_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2014 Atlas Update.csv')
operator_13_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2013 Atlas Update.csv')
operator_12_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2012 Atlas Update.csv')
operator_11_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2011 Atlas Update.csv')
operator_10_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2010 Atlas Update.csv')
operator_09_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\2009 Atlas Update.csv')
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [37]:
operator_17_df.head(3)

,BOEM_FIELD,LEASE,AREA_CODE,BLOCK_NUMBER,WELL_API,PIC,WELL,PLAY,SAND,OPER_RES,OPER_NAME
0,AC024,G10379,AC,24,608054000501,S01,SS001,PU-F2,P1_10,P1-10,EXXON MOBIL CORPORATION
1,AC025,G10380,AC,25,608054000700,S01,HA001,PL-F2,A,P1-10,EXXON MOBIL CORPORATION
2,AC025,G10380,AC,25,608054000803,S01,HA002,PL-F2,A,P1-10,EXXON MOBIL CORPORATION

In [38]:
frames_operator = [operator_19_df, operator_18_df, operator_17_df, operator_16_df, operator_15_df, operator_14_df, operator_13_df, operator_12_df, operator_11_df, operator_10_df, operator_09_df]

In [39]:
operator_con_df = pd.concat(frames_operator)

In [40]:
operator_con_df.head(3)

,BOEM_FIELD,LEASE,AREA_CODE,BLOCK_NUMBER,WELL_API,PIC,WELL,PLAY,SAND,OPER_RES,OPER_NAME
0,AC024,G10379,AC,24,6.080540e+11,S01,SS001,PLL-F2,P1_10,P1-10,EXXON MOBIL CORPORATION
1,AC025,G10380,AC,25,6.080540e+11,S01,HA001,PLL-F2,A,P1-10,EXXON MOBIL CORPORATION
2,AC025,G10380,AC,25,6.080540e+11,S01,HA002,PLL-F2,A,P1-10,EXXON MOBIL CORPORATION

### 3. Production Dataset

These are the CSV files that have been used in this project.

In [41]:
operator_oil_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\production-data\operator-production-data-oil-final.csv')
operator_gas_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\production-data\operator-production-data-gas-final.csv')
operator_bar_race_df = pd.read_csv(r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\operator-data\Data-1624481618840.csv')

### 4. Well Summary dataset

Let us collect few well summary reports examples.

In [42]:
wells_summary_1 = requests.get('https://www.data.bsee.gov/Well/eWellEOR/EOR.aspx?dxrep_fake=&SnEOR=-145753')
well_1 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\EOR.csv'
well_2 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\EOR (1).csv'
well_3 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\EOR (2).csv'
well_4 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\WAR (1).csv'
well_5 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\WAR (2).csv'
well_6 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\WAR (3).csv'
well_7 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\WAR (5).csv'
well_8 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\APM.csv'
well_9 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\APM (1).csv'
well_10 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\APM (2).csv'
well_11 = r'C:\Users\r04ra18\Desktop\EDA\Data\csv-data\well-report-data\APM (3).csv'